* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

section {
  display: flex;
  margin-top: 0%;
}

.imgBx {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentBx {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBx {
  width: 80%;
}

.formBx h2 {
  color: #ff5733;
  font-size: 1.5em;
  margin-bottom: 20px;
  display: inline-block;
  letter-spacing: 1px;
}

.formBx .intro {
  color: #ff5733;
  font-size: 1em;
  margin-bottom: 20px;
  display: inline-block;
  letter-spacing: 1px;
}

.formBx .inputBx {
  margin-bottom: 20px;
}

.formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 15px;
  display: inline-block;
  letter-spacing: 1px;
}

.formBx input,
.formBx select,
.formBx button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 2px solid #ff5733;
  background: transparent;
  border-radius: 30px;
}

.formBx select {
  margin-bottom: 20px;
}

.formBx button {
  background-color: #f92a3f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formBx button:hover {
  background-color: #27ae60;
}

.formBx p,
.formBx a {
  color: #f9a602;
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.formBx a:hover {
  color: #27ae60;
}

.registerCustomer {
  color: black;
}
